.button.primary {
    background-color: #000000 !important;
    color: #ffffff !important;
    box-shadow: none !important;
}

.button.primary:hover {
    background-color: #333333 !important;
}

.banner.style1 .image {
    width: 35%;
}

.banner.style1 .image img {
    height: auto;
    width: 100%;
}

/* Testimonials */
.testimonial-quote {
    font-style: italic;
    margin: 1em 0;
    position: relative;
    padding: 0.5em 1em;
}

.testimonial-author {
    font-weight: 600;
    color: #555;
    margin-top: 0.5em;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Highlighted text styling */
.highlight {
    font-size: 1.5em;
    color: #000000;
    font-weight: bold;
    margin: 1em 0;
    font-style: italic;
}
