<!-- Legal -->
<section class="wrapper style1 align-center" {{ with .id }}id="{{ . }}"{{ end }}>
    {{ template "section-header" . }}
    <div class="section-content">
        <div class="inner">
            {{ range $key, $section := .sections }}
            <section>
                <header>
                    <h3>{{ .title }}</h3>
                    <p>{{ .description }}</p>
                    <p class="small">Last updated: {{ .lastUpdated }}</p>
                </header>
                <div class="content">
                    {{ .content | markdownify }}
                </div>
            </section>
            {{ end }}
        </div>
    </div>
</section>
