<!-- Menu -->
<section class="wrapper style1 align-center" {{ with .id }}id="{{ . }}"{{ end }}>
    {{ template "section-header" . }}
    <div class="section-content">
        <div class="inner">
            {{ range .sections }}
            <div class="items style1 medium">
                {{ range .items }}
                <section>
                    <h3>{{ .name }}</h3>
                    <p>{{ .description }}</p>
                    {{ range .durations }}
                    <p><strong>{{ .time }}</strong> - {{ .price }}</p>
                    {{ end }}
                </section>
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>
</section>
